#================================================
# Keil µVision
#================================================

/**/*lst
/**/*obj
/**/*M51
/**/*plg
/**/*lnp
/**/*Bak
/**/*Opt
/**/GProject

#================================================
# SDCC C Compiler
#================================================

/**/*rel 
/**/*lst 
/**/*rst 
/**/*ihx 
/**/*asm 
/**/*sym 
/**/*lk 
/**/*map 
/**/*mem
/**/*hex

#================================================
# Proteus
#================================================

/**/*pdsbak
/**/*workspace
